h1{
    color: blue;
    text-align: center;
}
h2{
    color: gray;
    text-align: center;
}
.back{
    background: cadetblue;
    /* width: 30px; */
    height: 250px;
    width: 100%;
    z-index: -30;
    /* padding-top: 50px; */
    position: fixed;
    /* margin-top:120px; */
}
.btn{
    width: 100%;
}
.container{
    background: white;
    padding-top: 30px;
    /* height: 100px; */
    width: 80%;
    /* border-top: 30px; */
    box-shadow: 30px 50px 60px;

}
